*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}
.body {
    background-color: #F4EFEC;
    font-family: 'Montserrat';
    font-weight: regular;
    font-size: 16px;
}



.navbar {
    background-color: #d2b08c;
    font-family: 'Montserrat' !important;
    font-weight: regular;
    font-size: 16px;
}



/*Banner principal*/
.primeira_pagina {
    background-image: url('../img/retrato-1apag.png');
    width: 100%;
    min-height: calc(100vh - 40px) !important;
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    background-size: cover;
    opacity: 0.8;
}

.retangulo {
    background-color: black;
    background-size: cover;
    margin: auto;
    width: 100%;
    height: calc(100vh - 40px) !important;
    opacity: 0.49;
}

.logo {
    height: 250px;
    margin-left: 40%;
    position: absolute;
    bottom: 400px;
}

.description {
    width: 27vw;
    margin-left: 50px;
    position: relative;
    bottom: 400px;
}

.description>h1 {
    color: white;
    height: 120px;
    font-family: 'Montserrat' !important;
    font-size: 48px;
    font-weight: bold;
}

.description>h2 {
    color: white;
    font-size: 16px;
    margin-top: 55px;
}

#button-dsc{
    background-color: #9D774C;
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
    width: 216px;
    height: 44px;
    text-decoration: none;
}

#button-dsc:hover{
    background-color: #9d774cb9;
}

#link-dsc{
    text-decoration: none;
    color: white;
}

/*PROCEDIMENTOS E RESULTADOS SECTION*/
.section-cont2 {
    text-align: center;
}

